{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/b.css' %}">
</head>
<body>
<form>
	<h2 style="background-color:white;color:blue;margin-left:30px;margin-right:30px;text-align: center">Registration Form</h2>
	<br><br>
	<label>Username<br>
		<input type="text" name="" ></label><br>
	<label>Password<br>
		<input type="password" size="20" name=""></label><br>
	<label>Email<br>
		<input type="email" name=""></label><br>
	<label>Phone No<br>
		<input type="number" name=""></label><br>
	<button>submit</button>
</body>
</html>