<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style type="text/css">
		form{
			text-align: center;
			padding: 10px;
			border: 2px;
			background-color: skyblue;
			margin-left: 200px;
			margin-right: 200px;
			margin-top: 20px;
		}
	</style>
</head>
<body>
<form>
	<h2 style="background-color:white; color:blue;margin-left:200px;margin-right:200px;padding:10px;text-align: center;">Login Form</h2>
	<br><br>
	<label>Username<br>
		<input type="text" size="20" name="" ></label><br><br>
	<label>Password<br>
		<input type="password" size="20" name=""></label><br><br>
	<button>login</button>
</form>
</body>
</html>