

{% extends 'html/header.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="container">
  <div class="row mt-5">
    <div class="card col col-md-5 mx-2">
      <h3>Sample1</h3>
      <div class="row">

        <div class="col mx-2 jumbotron">
          <h3>J1</h3>
           </div>

          <div class="col mx-2 jumbotron">
          <h3>J2</h3>
          </div>

          <div class="col mx-2 jumbotron">
          <h3>J3</h3>
        </div>
      
      </div>
  </div>
  <div class="card col mx-2">
    <h3>Sample2</h3>
    <div class="row">
      <div class=""></div>
    </div>
  </div>
  </div>
</div>



{% endblock %}