{% extends 'html/header.html' %}
{% block title %} Registration Page {% endblock %}
{% block content %}

<div class="container">
	<div class="card col-sm-4 mx-auto mt-3 shadow-lg">
		<div class="card-body">
			<h3 class=" bg-success border rounded p-3 text-center">Registration</h3>
			<form method="POST">
				{% csrf_token %}
			<input type="text" name="a" placeholder="Enter Name" class="form-control my-3">
			<input type="email" name="b" placeholder="Enter Email Address" class="form-control my-3">
			<input type="password" name="c" placeholder="Enter password" class="form-control my-3">
			<input type="number" name="g" placeholder="Enter Age" class="form-control my-3">
			
			<input type="submit" name="" class=" form-control btn btn-primary my-3" value="Register">
		</form>
		</div>
		<div class="card-footer">Already have an account? <a href="{% url 'lg' %}">Login</a></div>
	</div>
</div>

{% endblock %}



